@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 32, 32, 32;
  --background-end-rgb: 32, 32, 32;
  --primary-color: #9448bc;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-theme-color: var(--primary-color) !important;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.text-danger {
  color: red;
}

/* SWIPER */
.swiper {
  height: 7rem;
  --swiper-pagination-bottom: 0.5rem;
  overflow-y: visible !important;
}

.swiper-pagination {
  bottom: -2.5rem !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.swiper:not(.swiper-initialized) {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .swiper {
    height: 9rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
  }
}
/* END SWIPER */

/* LOADING ANIMATION */

.progress {
  margin: 0 auto;
  height: 15px;
  max-width: 540px;
  background-color: #bbb;
  width: 100%;
}

.progress-inner {
  display: block !important;
  position: relative;
  height: 100%;
  width: 100%;
  transform-origin: left;
  animation: none;
}

.progress-inner--active {
  animation: animate-outer 15s linear forwards;
}

.progress-inner::before,
.progress-inner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094);
  animation: animate-inner 15s linear infinite;
  background-size: 500%;
}

@keyframes animate-outer {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes animate-inner {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 500% 0;
  }
}

.upload-preview-wrapper img {
  height: 100%;
  object-fit: cover;
}
